[Server]
    address = ":8080" # 常见容器中运行
[MySQL]
	dsn="developer:zonst!123@(192.168.10.2:3306)/helloworld?charset=utf8mb4&parseTime=True&loc=Local"
[Log]
    output = "stdout"
    level = "dev"
    jsonEncode = true
    dir = "/tmp/api"
    fileName = "default.log"
    addCaller = true
    callerSkip = 2
    maxSize = 128
    maxAge = 30
    maxBackups = 7
    caa = true
    [Log.fields] # 每条日志都带这个关键字
        appName = "helloworld"

[swagger]   # swagger 开关  false 禁用 true 启用
    passed = true